body {
    
    background: url("images/bluebackground.jpeg");
    
}

h1 {
    background-color: rgb(202, 112, 62);
    color: white;
    width:25%;
    padding: 15px;
    height: 40px;
}

h2{
    background-color: tan;
    color: green; 
    width:60%;
}

#randomNumber {
    background-color: rgb(88, 200, 137);
    

}

#score { 
    background-color: rgb(73, 254, 252);
}

#total {
    background-color: rgb(41, 162, 151);
    margin-bottom: 5px;
}

#totalScore {
    background-color: rgb(41, 162, 151);

}

.crystals {
    display: inline;
}