body {
    
    background: url("images/bluebackground.jpeg");
    
}

h1 {
    background-color: rgb(224, 85, 150);
    color: white;
    width:25%;
    padding: 15px;
    height: 40px;
}

h2{
    background-color: rgb(191, 210, 140);
    color: green; 
    width:60%;
}

#randomNumber {
    background-color: rgb(88, 200, 137);
    

}

#score { 
    background-color: rgb(73, 254, 252);
}

#total {
    background-color: rgb(41, 162, 151);
    margin-bottom: 5px;
    font-size: 20px;
    width: 40%;
    
}

#totalScore {
    background-color: rgb(41, 162, 151);
    size: 20px;
    width: 40%;
}

.crystals {
    display: inline;
}

.game {
    background-color:  rgb(191, 210, 140);
    color: black;
    font-size: 24px;
    width: 40%;
}

.wins {
    font-size: 20px;
    width: 40%;
}

.losses {
    font-size:20px;
    width: 40%;
}

#score {
    width: 20%;
}